.btn-flat {
  background-color: #930721;
  color: white;
  width: 35% !important;
  border-radius: 10px;
  font-weight: 600;
  min-width:15em;
  min-height: 3em;
  border-style:  hidden;
  margin: 2px;
}
.test{
  text-align: center;
  display: flex;
}
.testt{
  text-align: center;
  display: flex;
}

.btn-flatt {
  border-style:  hidden;
  background-color: #28a745;
  color: white;
  width: 35% !important;
  border-radius: 10px;
  min-width:15em;
  min-height: 4em;
  font-weight: 600;

  margin: 2px;
}
.btn-flattt {
  border-style:  hidden;
  font-weight: 600;
  background-color: #930721;
  color: white;
  width: 35% !important;
  border-radius: 10px;
  min-width:15em;
  min-height: 4em;
  margin: 2px;
}

a{
  text-decoration: none;
  color: white;

}
body{
  line-height: 60%;
}
div {

  font-weight: 600;
  font-size: 20px;
  display: block;

  padding-top: 5px;
  text-align: left;
}

.default {
  background: none;
  color: #666;
}
.group:before, .group:after {
  content:"";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  background: #eaeaed;
  border-radius: 6px;
  clear: both;
  *zoom: 1;
}
.group, header, section, aside, footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 63%;
  text-align: left;
}
aside {
  font: 1em/1.3 'r',Arial,Tahoma,Sans-serif;
  padding-left: 20%;
  text-align: left;
}
@media only screen and (max-width: 400px) {
  .test{

    display: block;
  }
}
